/* styles.css */

/* Reset e estilos gerais */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: #007bff; /* Cor de fundo azul */
  margin-bottom: 0; /* Remove a margem inferior para alinhar melhor com o conteúdo */
  align-items: center;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #F5DD5D !important; /* Texto branco */
  font-weight: bold; /* Deixa o texto em negrito */
  font-family: 'Courier New', Courier, monospace;
}

.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fundo branco com 70% de opacidade */
  color: #ffffff !important; /* Mantém o texto branco */
  border-radius: 5px;
}

.navbar .navbar-nav .nav-item {
  margin-right: 25px;
}

.navbar-collapse {
  justify-content: center; /* Centraliza a navbar */
}

.navbar img {
  vertical-align: middle; /* Garante que a imagem do logo esteja alinhada com os textos */
}

.navbar-text {
  line-height: 40px; /* Ajuste para alinhar verticalmente o texto */
  margin-left: 10px; /* Ajuste a margem se necessário */
}

.navbar .navbar-nav.ms-auto {
  margin-left: auto; /* Empurra os itens para o lado direito */
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 20px;
}

/* Rodapé */
footer {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Move o rodapé para o final da página */
}

/* Estilos adicionais conforme necessário */
.container {
  margin-top: 20px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-header {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-control {
  border-radius: 10px;
}

.btn {
  margin: 5px;
}

.btn-custom {
  background-color: #28a745;
  color: #ffffff;
  border-color: #28a745;
}

.btn-custom:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #1676d7;
  padding: 8px;
}

.form-group label {
  margin-right: 5px;
  flex: 1;
  color: #343a40;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
  flex: 2;
  margin-right: 10px;
  border: none;
  outline: none;
}

.form-group input::placeholder,
.form-group select::placeholder {
  text-align: center;
  color: #000204;
  opacity: 0.6;
}

#detalhes-medicamentos-container .detalhes-medicamento-form {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

#detalhes-medicamentos-container .detalhes-medicamento-form .form-group {
  margin-bottom: 10px;
}

.wider-placeholder::placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wider-placeholder {
  width: 100%;
}

.custom-background {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.custom-background .form-group {
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: #218838;
  border-color: #1e7e34;
}

.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
}

.small-textarea {
  height: auto; /* Ajusta automaticamente à altura do conteúdo */
  min-height: 60px; /* Ajusta conforme necessário */
  resize: vertical; /* Permite redimensionar verticalmente */
}

.form-control-dark {
  color: #000 !important; /* Altere para a cor desejada */
  background-color: #f8f9fa; /* Altere para a cor de fundo desejada */
  border-color: #ced4da; /* Altere */
}

.styled-image {
  width: 360px;
  height: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à borda */
  border-radius: 8px; /* Adiciona cantos arredondados */
  align-items: center;
}

/* Centralizando o conteúdo da página de login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Estilos da caixa de login */
.login-box {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Título do formulário de login */
.login-title {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #1676d7;
  margin-bottom: 20px;
}

/* Estilos dos campos do formulário */
.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

/* Ajuste do alinhamento do placeholder */
.login-form input::placeholder {
  text-align: center; /* Centraliza o placeholder */
  color: #6c757d; /* Cor suave para o placeholder */
  opacity: 1; /* Torna o placeholder visível */
}

/* Botão de login */
.btn-login {
  background-color: #1676d7;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #005f6b;
}

/* Ajuste do formulário */
.login-form button {
  margin-top: 10px;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  color: #343a40;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}