{% extends 'estoque/base.html' %}

{% block title %}Cadastro de Médico{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Cadastro de Médico</h2>
        </div>
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate id="medicoForm">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_nome_completo" class="form-label">Nome Completo:</label>
                    {{ form.nome_completo }}
                </div>

                <div class="mb-3">
                    <label for="id_estado" class="form-label">Estado:</label>
                    {{ form.estado }}
                </div>

                <div class="mb-3">
                    <label for="id_crm" class="form-label">CRM:</label>
                    {{ form.crm }}
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <a href="{% url 'entrada_estoque' %}" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>


            </form>
        </div>
    </div>
</div>

{% endblock %}
