{% extends 'estoque/base.html' %}

{% block title %}Cadastro de Médico{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Cadastro de Médico</h2>
    <form method="post" class="form" id="medicoForm">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.nome_completo.label_tag }}
            {{ form.nome_completo }}
            {% for error in form.nome_completo.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.estado.label_tag }}
            {{ form.estado }}
            {% for error in form.estado.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.crm.label_tag }}
            {{ form.crm }}
            {% for error in form.crm.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar Médico</button>
    </form>
</div>
{% endblock %}
