{% extends 'estoque/base.html' %}

{% block title %}Cadastro de Departamento{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Cadastro de Departamento</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'entrada_estoque' %}" class="btn btn-secondary">Voltar</a>
      <a href="{% url 'lista_departamento' %}" class="btn btn-info">Consultar Departamento</a>
    </form>
  </div>
{% endblock %}