{% extends 'estoque/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Consultar Distribuições</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Origem</th>
                <th>Destino</th>
                <th>Data</th>
                <th>Medicamentos</th>
            </tr>
        </thead>
        <tbody>
            {% for distribuicao in distribuicoes %}
                <tr>
                    <td>{{ distribuicao.estabelecimento_origem }}</td>
                    <td>{{ distribuicao.estabelecimento_destino }}</td>
                    <td>{{ distribuicao.data_atendimento }}</td>
                    <td>
                        <ul>
                            {% for medicamento in distribuicao.medicamentos.all %}
                                <li>{{ medicamento.medicamento.nome }} - {{ medicamento.quantidade }} unidades</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}