{% extends 'estoque/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Distribuição Sem Requisição</h2>
    <form method="POST" action="{% url 'distribuicao_sem_requisicao' %}">

        {% csrf_token %}
        
        {{ distrib_form.as_p }}
    
        <h2>Medicamentos</h2>
        {{ formset.management_form }}
       
    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Lote</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        <td>{{ form.medicamento }}</td>
                        <td>{{ form.lote }}</td>
                        <td>{{ form.quantidade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}


        </table>
    
        <button type="submit" class="btn btn-primary">Registrar Distribuição</button>
    </form>
    
</div>

<script>
    // Atualizar os lotes dinamicamente
    document.getElementById("id_medicamento").addEventListener("change", function () {
        const medicamentoId = this.value;
        const loteSelect = document.getElementById("id_lote");
    
        if (medicamentoId) {
            fetch(`/api/lotes_por_medicamento/${medicamentoId}/`)
                .then((response) => response.json())
                .then((data) => {
                    loteSelect.innerHTML = '<option value="">---------</option>';
                    data.forEach((lote) => {
                        const option = document.createElement("option");
                        option.value = lote.id;
                        option.textContent = `${lote.codigo} - Quantidade: ${lote.quantidade}`;
                        loteSelect.appendChild(option);
                    });
                });
        } else {
            loteSelect.innerHTML = '<option value="">---------</option>';
        }
    });
    
</script>


{% endblock %}

