{% extends 'estoque/base.html' %}

{% block title %}Entrada de Estoque{% endblock %}

{% block content %}
    <h2>Entrada de Estoque</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        <div id="formset-container">
            {% for form_detalhe in formset %}
                <div class="form-detalhe">
                    {{ form_detalhe.as_p }}
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" id="add-medicamento">Adicionar Medicamento</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
 
        
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const adicionarMedicamentoBtn = document.getElementById('add-medicamento'); // Corrigido o ID
            const formsetContainer = document.getElementById('formset-container');
            const totalForms = document.getElementById('id_form-TOTAL_FORMS');
    
            adicionarMedicamentoBtn.addEventListener('click', function() {
                const formCount = parseInt(totalForms.value);
                const emptyFormHtml = document.querySelector('.form-detalhe').outerHTML; // Pega o HTML do primeiro formulário
    
                // Substitui os índices do formset (form-0, form-1, etc.)
                const newFormHtml = emptyFormHtml.replace(/form-(\d+)/g, `form-${formCount}`);
    
                // Criar um elemento div e definir o innerHTML corretamente
                const newFormDiv = document.createElement('div');
                newFormDiv.classList.add('form-detalhe');
                newFormDiv.innerHTML = newFormHtml;
    
                // Limpa os valores dos campos para evitar duplicação de dados
                newFormDiv.querySelectorAll('input, select, textarea').forEach(field => {
                    if (field.type !== 'hidden') {
                        field.value = '';
                    }
                });
    
                // Adiciona o novo formulário ao container
                formsetContainer.appendChild(newFormDiv);
    
                // Atualiza o contador total de formulários
                totalForms.value = formCount + 1;
            });
        });
    </script>
    
{% endblock %}
