{% extends 'estoque/base.html' %}

{% load form_tags %}

{% block title %}Entrada de Estoque{% endblock %}

{% block content %}
<h1>Entrada de Estoque</h1>
<br>
<form method="post" id="estoqueForm">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.tipo.label_tag }} {{ form.tipo }}
    </div>
    <div class="form-group">
        {{ form.data.label_tag }}
        <input type="text" placeholder="DD/MM/AAAA" value="{{ form.data.value|date:'d/m/Y'|default_if_none:'' }}"
            class="form-control form-control-sm" name="data" required id="id_data">
    </div>
    <div class="form-group">
        {{ form.data_recebimento.label_tag }}
        <input type="text" placeholder="DD/MM/AAAA" value="{{ form.data_recebimento.value|date:'d/m/Y'|default_if_none:'' }}"
            class="form-control form-control-sm" name="data_recebimento" required id="id_data_recebimento">
    </div>
    <div class="form-group">
        {{ form.fonte_financiamento.label_tag }} {{ form.fonte_financiamento }}
    </div>
    <div class="form-group">
        {{ form.fornecedor_tipo.label_tag }} {{ form.fornecedor_tipo }}
    </div>
    <div class="form-group">
        {{ form.fornecedor.label_tag }}
        {{ form.fornecedor }}
        <button type="button" class="btn btn-link" id="cadastro-fornecedor-btn">Cadastrar Fornecedor</button>
        <input type="hidden" id="url-cadastro-fornecedor" value="{% url 'cadastro_fornecedor' %}">
    </div>
    <div class="form-group">
        {{ form.tipo_documento.label_tag }} {{ form.tipo_documento }}
    </div>
    <div class="form-group">
        {{ form.numero_documento.label_tag }} {{ form.numero_documento }}
    </div>
    <div class="form-group">
        {{ form.valor_total.label_tag }}
        <input type="text" placeholder="0,00" value="{{ form.valor_total.value|default_if_none:'' }}"
            class="form-control form-control-sm currency-input" name="valor_total" required id="id_valor_total">
        <div id="valor-warning" style="display: none; color: red;">Há inconsistências no valor total.</div>
    </div>
    <div class="form-group">
        {{ form.observacao.label_tag }} {{ form.observacao }}
    </div>

    {{ formset.management_form }}
    <div id="detalhes-medicamentos-container">
        {% for form in formset %}
        <div class="detalhes-medicamento-form custom-background">
            {% for field in form %}
            {% if field.name != 'id' and field.name != 'estoque' %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.name == 'localizacao' %}
                {{ field|add_class:"form-control form-control-sm wider-placeholder" }}
                {% elif field.name == 'fabricante' %}
                <div class="d-flex align-items-center">
                    {{ field|add_class:"form-control form-control-sm" }}
                    <button type="button" class="btn btn-link" id="cadastro-fabricante-btn">Cadastrar Fabricante</button>
                    <input type="hidden" id="url-cadastro-fabricante" value="{% url 'cadastro_fabricante' %}">
                </div>
                {% elif field.name == 'quantidade' %}
                {{ field|add_class:"form-control form-control-sm" }}
                {% else %}
                {{ field }}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <button type="button" class="btn btn-warning btn" id="add-medicamento">Adicionar Mais Medicamento</button>
    <br><br>
    <button type="submit" class="btn btn-primary btn">Salvar</button>
    <a href="{% url 'lista_medicamentos' %}" class="btn btn-secondary btn">Voltar</a>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
<script>
    document.getElementById('cadastro-fornecedor-btn').addEventListener('click', function () {
        var url = document.getElementById('url-cadastro-fornecedor').value;
        window.location.href = url;
    });

    document.getElementById('cadastro-fabricante-btn').addEventListener('click', function () {
        var url = document.getElementById('url-cadastro-fabricante').value;
        window.location.href = url;
    });

    document.addEventListener('DOMContentLoaded', function () {
        $('#id_data, #id_data_recebimento').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR',
            todayHighlight: true,
            autoclose: true
        }).on('changeDate', function (e) {
            $(this).datepicker('update', e.format('dd/mm/yyyy'));
        });

        function initializeDatePickers() {
            $('input[name$="-validade"]').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                todayHighlight: true,
                autoclose: true
            }).on('changeDate', function (e) {
                $(this).datepicker('update', e.format('dd/mm/yyyy'));
            });
        }

        initializeDatePickers();

        var container = document.getElementById('detalhes-medicamentos-container');
        var addButton = document.getElementById('add-medicamento');
        var totalForms = document.getElementById('id_detalhesmedicamento_set-TOTAL_FORMS');
        var formIndex = container.children.length;

        addButton.addEventListener('click', function () {
            var newForm = container.children[0].cloneNode(true);
            var formRegex = RegExp('detalhesmedicamento_set-(\\d+)-', 'g');

            formIndex++;
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, 'detalhesmedicamento_set-' + formIndex + '-');
            container.appendChild(newForm);
            totalForms.setAttribute('value', formIndex + 1);

            initializeDatePickers();

            newForm.querySelector('input[name$="-valor"]').addEventListener('input', function (e) {
                formatCurrency(e.target);
            });
        });

        function formatCurrency(input) {
            let value = input.value.replace(/\D/g, '');
            value = (value / 100).toFixed(2) + '';
            value = value.replace(".", ",");
            value = value.replace(/(\d)(?=(\d{3})+\,)/g, "$1.");
            input.value = value;
        }

        document.getElementById('id_valor_total').addEventListener('input', function (e) {
            formatCurrency(e.target);
        });

        document.querySelectorAll('input[name$="-valor"]').forEach(function (input) {
            input.addEventListener('input', function (e) {
                formatCurrency(e.target);
            });
        });

        function convertFormattedValues() {
            document.getElementById('id_valor_total').value = document.getElementById('id_valor_total').value.replace(/\./g, '').replace(',', '.');
            document.querySelectorAll('input[name$="-valor"]').forEach(function (input) {
                input.value = input.value.replace(/\./g, '').replace(',', '.');
            });
        }

        document.getElementById('estoqueForm').addEventListener('submit', function () {
            convertFormattedValues();
        });

        var form = document.getElementById('estoqueForm');
        form.addEventListener('submit', function (event) {
            var inputs = form.querySelectorAll('input, select, textarea');
            inputs.forEach(function (input) {
                input.classList.remove('is-invalid');
            });

            var isValid = true;
            inputs.forEach(function (input) {
                if (!input.checkValidity()) {
                    isValid = false;
                    input.classList.add('is-invalid');
                    var feedback = document.createElement('div');
                    feedback.className = 'invalid-feedback';
                    feedback.textContent = 'Este campo é obrigatório.';
                    input.parentNode.appendChild(feedback);
                }
            });

            if (!isValid) {
                event.preventDefault();
            }
        });

        function calcularTotal() {
            let total = 0;
            document.querySelectorAll('input[name$="-valor"]').forEach(function (input) {
                if (input.value.trim() !== '') {
                    total += parseFloat(input.value.replace(',', '.'));
                }
            });
            return total.toFixed(2);
        }

        document.querySelectorAll('input[name$="-valor"]').forEach(function (input) {
            input.addEventListener('input', function () {
                let total = calcularTotal();
                document.getElementById('id_valor_total').value = total;

                if (parseFloat(total) !== parseFloat(document.getElementById('id_valor_total').value)) {
                    document.getElementById('valor-warning').style.display = 'block';
                } else {
                    document.getElementById('valor-warning').style.display = 'none';
                }
            });
        });

        document.getElementById('estoqueForm').addEventListener('submit', function () {
            let total = calcularTotal();
            document.getElementById('id_valor_total').value = total;

            if (parseFloat(total) !== parseFloat(document.getElementById('id_valor_total').value)) {
                document.getElementById('valor-warning').style.display = 'block';
            } else {
                document.getElementById('valor-warning').style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
