{% extends 'estoque/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Medicamentos</h2>

    <div class="table-responsive">
        <table class="table table-hover table-bordered shadow-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Medicamento</th>
                    <th>Localização</th>
                    <th>Validade</th>
                    <th>Lote</th>
                    <th>Quantidade em Estoque</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
                {% for medicamento in detalhes_medicamentos %}
                        
                <tr {% if medicamento.vencimento_proximo %} class="vencendo" {% endif %}>
                    <td>{{ medicamento.medicamento__nome }}</td>
                    <td>{{ medicamento.localizacao }}</td>
                    <td>{{ medicamento.validade|date:"d/m/Y" }}</td>
                    <td>{{ medicamento.lote }}</td>
                    <td>{{ medicamento.quantidade_em_estoque }}</td>
                    
                    <td class="text-success font-weight-bold">R$ {{ medicamento.total_valor|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-muted">Nenhum medicamento disponível.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="alert alert-info text-center mt-3 shadow-sm">
        <h3>Total Geral: <span class="text-primary">R$ {{ total_valor_geral|floatformat:2 }}</span></h3>
    </div>
</div>
{% endblock %}
