{% extends 'estoque/base.html' %}

{% block title %}Lista de Operadores{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Lista de Operadores</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>ID</th>
                <th>Email</th>
                <td>Estabelecimento</td>
                
             
            </tr>
        </thead>
        <tbody>
            {% for operador in operadores %}
            <tr>
                <td>{{ operador.nome_completo }}</td>
                <td>{{ operador.id }}</td>
                <td>{{ operador.email }}</td>
                <td>
                    {% for estabelecimento in operador.estabelecimentos.all %}
                        {{ estabelecimento.nome }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
