{% extends 'estoque/base.html' %}

{% block title %}Lista de Localizações{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Lista de Localizações</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>  <!-- Corrigido para refletir o dado exibido -->
        </tr>
      </thead>
      <tbody>
        {% for localizacao in localizacoes %}
          <tr>
            <td>{{ localizacao.nome }}</td>  <!-- Mantém a exibição do nome -->
          </tr>
        {% empty %}
          <tr>
            <td colspan="1">Nenhuma localização cadastrada.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'cadastrar_localizacao' %}" class="btn btn-primary">Cadastrar Nova Localização</a>
  </div>
  <br>
{% endblock %}
