{% extends 'estoque/base.html' %}

{% block title %}Lista de Departamento{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Lista de Departamentos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <!-- Adicione mais colunas conforme necessário -->
        </tr>
      </thead>
      <tbody>
        {% for departamento in departamentos %}
          <tr>
            <td>{{ departamento.id }}</td>
            <td>{{ departamento.nome }}</td>
          
            <!-- Adicione mais campos conforme necessário -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'cadastrar_departamento' %}" class="btn btn-primary">Cadastrar Novo Departamento</a>
  </div>
{% endblock %}
