{% extends 'estoque/base.html' %}

{% block content %}
    <div class="container">
        <h2>Nova Requisição de Medicamentos</h2>
        <form method="POST">
            {% csrf_token %}
            {{ requisicao_form.as_p }}
            {{ item_formset.management_form }}
            <table class="table" id="itens-table">
                <thead>
                    <tr>
                        <th>Medicamento</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in item_formset %}
                        <tr class="item-form">
                            <td>{{ form.medicamento }}</td>
                            <td>{{ form.quantidade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" id="add-item">Adicionar Medicamento</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'consultar_requisicoes' %}" class="btn btn-secondary">Consultar Requisições</a>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addItemButton = document.getElementById('add-item');
            const itensTable = document.getElementById('itens-table').getElementsByTagName('tbody')[0];
            const totalFormsInput = document.querySelector('input[name="form-TOTAL_FORMS"]');

            addItemButton.addEventListener('click', function() {
                const formCount = parseInt(totalFormsInput.value);
                const newFormCount = formCount + 1;
                const newFormHtml = itensTable.querySelector('.item-form').cloneNode(true);

                newFormHtml.querySelectorAll('input, select').forEach(function(input) {
                    const name = input.getAttribute('name').replace(`-${formCount - 1}-`, `-${formCount}-`);
                    const id = input.getAttribute('id').replace(`-${formCount - 1}-`, `-${formCount}-`);
                    input.setAttribute('name', name);
                    input.setAttribute('id', id);
                    input.value = '';
                });

                itensTable.appendChild(newFormHtml);
                totalFormsInput.value = newFormCount;
            });
        });
    </script>
{% endblock %}