{% extends 'estoque/base.html' %}

{% block title %}Cadastro de Paciente{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Cadastro de Paciente</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_nome">Nome:</label>
        {{ form.nome }}
      </div>
      <div class="form-group">
        <label for="id_nome_mae">Nome da Mãe:</label>
        {{ form.nome_mae }}
      </div>
      <div class="form-group">
        <label for="id_cns">CNS:</label>
        {{ form.cns }}
      </div>
      <div class="form-group">
        <label for="id_cpf">CPF:</label>
        {{ form.cpf }}
      </div>
      <div class="form-group">
        <label for="id_data_nascimento">Data de Nascimento:</label>
        {{ form.data_nascimento }}
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'entrada_estoque' %}" class="btn btn-secondary">Voltar</a>
    </form>
  </div>
{% endblock %}



