{% extends 'estoque/base.html' %}

{% block title %}Cadastro de Paciente{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Cadastro de Paciente</h2>
        </div>
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_nome" class="form-label">Nome:</label>
                    {{ form.nome}}
                </div>
                
                <div class="mb-3">
                    <label for="id_nome_mae" class="form-label">Nome da Mãe:</label>
                    {{ form.nome_mae}}
                </div>
                
                <div class="mb-3">
                    <label for="id_cns" class="form-label">CNS:</label>
                    {{ form.cns }}
                </div>
                
                <div class="mb-3">
                    <label for="id_cpf" class="form-label">CPF:</label>
                    {{ form.cpf }}
                </div>
                
                <div class="mb-3">
                    <label for="id_data_nascimento" class="form-label">Data de Nascimento:</label>
                    {{ form.data_nascimento }}
                </div>
                
                <div class="d-flex justify-content-between">
                    <a href="{% url 'entrada_estoque' %}" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
