{% extends 'estoque/base.html' %}
{% block content %}
<h2>Requisições Pendentes para Recebimento</h2>

{% if requisicoes %}
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for requisicao in requisicoes %}
        <tr>
            <td>{{ requisicao.id }}</td>
            <td>{{ requisicao.estabelecimento_origem.nome }}</td>
            <td>{{ requisicao.estabelecimento_destino.nome }}</td>
            <td>{{ requisicao.status }}</td>
            <td>
                {% if requisicao.status == "Processando Transferência" %}
                <a href="{% url 'confirmar_requisicao' requisicao.id %}" class="btn btn-success">Confirmar Recebimento</a>
                {% else %}
                <span>Já Processada</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Não há requisições pendentes.</p>
{% endif %}

{% endblock %}
