{% extends 'estoque/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h2 class="my-4">Responder Requisição #{{ requisicao.id }}</h2>

    <p><strong>Origem:</strong> {{ requisicao.estabelecimento_origem }}</p>
    <p><strong>Destino:</strong> {{ requisicao.estabelecimento_destino }}</p>
    <p><strong>Status:</strong> {{ requisicao.status }}</p>

    <form method="post">
        {% csrf_token %}

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Medicamento</th>
                    <th>Quantidade Solicitada</th>
                    <th>Lote Disponível</th>
                    <th>Quantidade a Enviar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens_requisicao %}
                <tr>
                    <td>{{ item.medicamento.nome }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>
                        

                        <select name="form-{{ item.id }}-lote" class="form-control lote" data-medicamento="{{ item.medicamento.id }}">
                            <option value="">Selecione um lote</option>
                            {% if lotes_disponiveis|get_item:item.medicamento.id %}
                                {% for lote in lotes_disponiveis|get_item:item.medicamento.id %}
                                    <option value="{{ lote.id }}">
                                        Lote: {{ lote.codigo }} | Validade: {{ lote.validade|date:"d/m/Y" }} | Qtd: {{ lote.quantidade }}
                                    </option>
                                {% endfor %}
                            {% else %}
                                <option value="">Sem lotes disponíveis</option>
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <input type="number" name="form-{{ item.id }}-quantidade" class="form-control" min="1">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Confirmar Envio</button>
    </form>
</div>



{% endblock %}
